node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
build
dist
.cache
coverage
*.log
*.tmp
*.pid
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
*~
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.git
.gitignore
.eslintcache
.tsbuildinfo
.idea
nbproject
ssl
license.txt
exports
Dockerfile
docker-compose.yml