.car-navbar {
  background: #ffffff;
  padding: 0px 150px;
  color: #000000;
}

.car-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
      padding-top: 10px;
}

.car-navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.car-navbar-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.car-navbar-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.car-navbar-link {
  text-decoration: none;
    color: #ffffff;
    background: #2a6496;
    font-size: 22px;
    padding: 1px 9px;
    border-radius: 10px;
    font-weight: 800;
    transition: color 0.3s ease;
}

.car-navbar-link:hover {
  color: #ffffff;
}

.car-navbar-logo img{
    width: 185px;
}
/* 📱 موبايل */
@media (max-width: 768px) {
  .car-navbar-container {
    padding-top: 0;
  }
  .car-navbar-link {
    color: #fff;
    font-size: 18px;
    
}
  .car-navbar-toggle {
    display: block;
  }
  .car-navbar{
    
    padding: 3px 10px;
  }

  .car-navbar-list {
    display: none;
    flex-direction: column;
            background: #2a6496;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
    width: 107px;
    
  }
  .car-navbar-list li{
           border: 1px solid rgb(255, 255, 255);
        padding: 3px;
        border-radius: 8px;
  }
  .car-navbar-logo img{
    
    width: 130px;
}

  .car-navbar-list.open {
    display: flex;
    text-align: center;
    z-index: 100;
  }
}
