.language-selector {
  position: relative;
  width: 120px;
margin: 0 auto;
}

.dropdown-selected {
  /* display: flex; */
  align-items: center;
  gap: 6px;
  
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  cursor: pointer;
  /* background: #ffffff; */
     padding: 0px 40px;
    margin: 0px auto;
    height: 47px;
}
.dropdown-selected img,
.dropdown-options img {
        margin: 2px auto;
    text-align: center;
    /* width: 119%; */
    width: 50px;
}
.dropdown-options {
  position: absolute;
  top: 100%;
  left: 50px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  width: 100%;
  z-index: 1000;
}

.dropdown-option {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.dropdown-option:hover {
  background: #f0f0f0;
}

@media (max-width: 900px) {


.dropdown-selected {
          align-items: center;
        gap: 6px;
        /* border: 1px solid #ccc; */
        border-radius: 6px;
        cursor: pointer;
        /* background: #ffffff; */
        padding: 0px 0px;
        margin: -24px auto;
        height: 29px;
}
.dropdown-selected img{
           margin: 15px auto;
        text-align: center;
        /* width: 119%; */
        width: 30px;
}
.dropdown-options img {
   
    width: 40px;
}
.dropdown-options {
 left: 0;
  top: 150%;
}

.dropdown-option {
  
}
}