body{
  margin: 0;
      overflow-x: hidden;
}

/* App.css */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.loader-icon {
  font-size: 80px; /* أيقونة كبيرة */
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.loader-container p {
  font-size: 20px;
  margin-top: 20px;
}
